KERNEL!="sd[b-z][0-9]", GOTO="media_by_label_auto_mount_end"
ACTION=="add", PROGRAM!="/sbin/blkid %N", GOTO="media_by_label_auto_mount_end"

ENV{dir_name}="usb"

# Global mount options
ACTION=="add", \
    ENV{mount_options}="relatime"
ACTION=="add", ENV{ID_FS_TYPE}=="auto", \
    ENV{mount_options}="$env{mount_options},utf8,gid=100,umask=002"

## Adding USB
ACTION=="add", SUBSYSTEMS=="usb", \
    TAG+="uaccess", \
    RUN+="/bin/mkdir -p '/media/%E{dir_name}'", \
    RUN+="/usr/bin/systemd-mount --options=$env{mount_options} --no-block --automount=yes --collect /dev/%k '/media/%E{dir_name}'", \
    ENV{SYSTEMD_WANTS}="usbmount.service"
    #RUN+="/usr/bin/optwareUSB add"

## Removing USB
ACTION=="remove", SUBSYSTEMS=="usb", ENV{ID_FS_USAGE}=="filesystem", \
    RUN+="/usr/bin/systemd-umount /media/%E{dir_name}", \
    RUN+="/bin/rmdir '/media/%E{dir_name}'", \
    RUN+="/usr/bin/optwareUSB remove"

# Exit
LABEL="media_by_label_auto_mount_end"
