[Unit]
Description=Service called when the USB is plugged in

[Service]
Type=notify
ExecStart=/usr/bin/optwareUSB add

[Install]
WantedBy=default.target
