 server {

	# the port the site is listening on
	listen 8000;

	root /opt/lib/endor/;
	client_max_body_size 100M;

	location ~ .*\.(js|css|png|jpg|jpeg|gif|tif|pdf)?$ {
		expires modified 0;
		add_header Cache-Control "public";
	}

	location / {
		fastcgi_read_timeout 1h;
		fastcgi_pass unix:/opt/tmp/mono-fcgi.sock;
		include fastcgi_params;
	}
 }
